<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Add Room</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/customer">Customer</a>
					</li>
					<li role="presentation" class="active"><a href="/staff">Staff</a>
					</li>                    
				</ul>
			</nav>
			<h3 class="text-muted">Star Movie Theatre</h3>
		</div>
		<h1 style="margin-left:50px">Add Room</h1>
		<br>
		<form action="/addroom" method="post" style="margin-left:50px">
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Room Number" aria-describedby="basic-addon1" name="roomNumber">
			</div>
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Capacity" aria-describedby="basic-addon1" name="capacity">
			</div>
			<br>
			<input class="btn btn-default" type="submit" value="Submit">
			<br>
		</form>
	</div>
</body>