<!DOCTYPE html>
<html lang="en">

<head>
    <title>Star Movie Theatre</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/customer">Customer</a>
                    </li>
                    <li role="presentation" class="active"><a href="/staff">Staff</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Star Movie Theatre</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome to the Staff Homepage</h1>
        </div>

    </div>







</body>

</html>
