<!DOCTYPE html>
<html lang="en">

<head>
    <title>Star Movie Theatre</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/customer">Customer</a>
                    </li>
                    <li role="presentation" class="active"><a href="/staff">Staff</a>
                    </li>                    
                </ul>
            </nav>
            <h3 class="text-muted">Star Movie Theatre</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome to the Staff Homepage</h1>
        </div>

        Movie

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/addMovieForm">Add Movie</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/deleteMovieForm">Delete Movie</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/updateMovieForm">Update Movie</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/displayMovie_page">List Movies</a></button>
            </div>
        </div>

        <br>
        Genres

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/addGenreForm">Add Genre</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/deleteGenreForm">Delete Genre</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/displayGenre_page">List Genre and Movie</a></button>
            </div>
        </div>
        <br>

        Rooms
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/addRoomForm">Add Room</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/deleteRoomForm">Delete Room</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/updateRoomForm">Update Room</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/displayRoom_page">List Rooms</a></button>
            </div>
        </div>
        <br>

        Showings
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/addShowingForm">Add Showing</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/deleteShowingForm">Delete Showing</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/updateShowingForm">Update Showing</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/displayShowing_page">List Showings</a></button>
            </div>
        </div>
        <br>

        Customer
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/addCustomerForm">Add Customer</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/deleteCustomerForm">Delete Customer</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/updateCustomerForm">Update Customer</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/displayCustomer_page">List Customers</a></button>
            </div>
        </div>

        Attend
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><a href="/displayAttend_page">List Attendances</a></button>
        </div>
    </div>
</body>
</html>
