<!DOCTYPE html>
<html lang="en">

<head >
    <title>Delete Movie</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<h1 style="margin-left:50px">Delete Movie</h1>
<br>
<form action="/deletemovie" method="post" style="margin-left:50px">
	<div class="input-group"></span>
  		<input type="text" class="form-control" placeholder="Movie Name" aria-describedby="basic-addon1" name="movieName">
	</div>
	<div class="input-group"></span>
  		<input type="text" class="form-control" placeholder="Movie ID" aria-describedby="basic-addon1" name="movieID">
	</div>
	<div class="input-group"></span>
  		<input type="text" class="form-control" placeholder="Movie Year" aria-describedby="basic-addon1" name="movieYear">
	</div>
	<br>
	<input class="btn btn-default" type="submit" value="Submit">
	<br>
</form>