<!DOCTYPE html>
<html lang="en">

<head>
	<title>Update Showing</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/customer">Customer</a>
					</li>
					<li role="presentation" class="active"><a href="/staff">Staff</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Star Movie Theatre</h3>
		</div>
		<h1 style="margin-left:50px">Update Showing</h1>
		<br>
		<form action="/updateshowing" method="post" style="margin-left:50px">
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Showing ID" aria-describedby="basic-addon1" name="showingID">
			</div>
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Showing Date Time" aria-describedby="basic-addon1" name="showTime">
			</div>
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Movie ID" aria-describedby="basic-addon1" name="movieID">
			</div>
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Room Number" aria-describedby="basic-addon1" name="roomNumber">
			</div>
			<div class="input-group"></span>
				<input type="text" class="form-control" placeholder="Ticket" aria-describedby="basic-addon1" name="ticketPrice">
			</div>
			<br>
			<input class="btn btn-default" type="submit" value="Submit">
			<br>
		</form>

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

	</div>
</body>
